<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style type="text/css">
        .main{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="main">
    <P>头像：<img src="/static/img/rs.jpg"></P>
    <P>姓名：<input type="text" name="user_name" ></P>
    <P>电话：<input type="text" name="user_tel"></P>
    <P>密码：<input type="password" name="pwd"></P>
</div>
</body>
</html>