{% extends 'User/userbase.html' %}

{% block css %}
    <style>
        .hide {
            display: none;
        }

        .shadow {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
        }

        .add_Comment {
            position: fixed;
            left: 50%;
            top: 50%;
            width: 400px;
            height: 300px;
            z-index: 1000;
            background-color: white;
            margin-left: -200px;
            margin-top: -200px;
        }

        .add_detail {
            position: fixed;
            left: 50%;
            top: 50%;
            width: 400px;
            height: 300px;
            z-index: 1000;
            background-color: white;
            margin-left: -200px;
            margin-top: -200px;
        }

        .table td {
            text-align: center;
            line-height: 20px;
        }
    </style>
{% endblock %}

{% block main %}
    <form method="post" action="/user/order_order/">
        {% csrf_token %}
        <div class="upper" style="width: 800px;height: 680px;margin-left: 150px;margin-top: 100px">
            <table class="table table-hover" style="margin-top: 30px">
                <tr class="active" style="background-color:#EEEEEE">
                    <td>ID</td>
                    <td>下单时间</td>
                    <td>订单商家</td>
                    <td>完成时间</td>
                    <td>总价格</td>
                    <td>操作</td>
                </tr>
                {% for row in order_list %}
                    <tr>
                        <td>{{ row.order_id }}</td>
                        <td style="border-right: 1px solid grey">{{ row.create_date | date:"Y-m-d H:i:s" }}</td>
                        <td>{{ row.order_store__real_name }}</td>
                        <td>{{ row.finish_time | date:"Y-m-d H:i:s" }}</td>
                        <td>{{ row.total_price }}</td>
                        <td>
                            <a data-toggle="modal" href="/user/order_detail/?order_id={{ row.order_id }}"
                               data-target="#show_details">
                                订单详情
                            </a>&nbsp;
                            <a class="btn btn-default" role="button" onclick="modelComment(this)">评论</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </form>
    <div class="modal fade bs-example-modal-lg " id="show_details" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 400px;left: 300px">

            </div>
        </div>
    </div>
    <div id="shadow" class="shadow hide"></div>
    <div id="model" class="add_Comment hide">
        <h1>评论</h1>

        <textarea name="message" cols="30" rows="4" id="content">

        </textarea>
        <br>
        <input type="button" value="提交" onclick="editAjaxSend();"><span id="errormsg"></span>
        <input type="button" value="取消" onclick="cancleModel();">
    </div>
    <script>

        $('#show_details').on('hidden.bs.modal', function () {
            $(this).removeData("bs.modal");
            $(this).find(".modal-content").children().remove();
        })

        function cancleModel() {
            document.getElementById('shadow').classList.add('hide');
            document.getElementById('model').classList.add('hide');
            document.getElementById('model1').classList.add('hide');
        }

        function modelComment(ths) {
            document.getElementById('shadow').classList.remove('hide');
            document.getElementById('model').classList.remove('hide');

            //获取当前标签   获取当前标签的父标签  再找其上方标签 获取当前行班级名称
            var row = $(ths).parent().prevAll();
            var content = $(row[4]).text()
            console.log(content)
            $.ajax({
                url: '/user/CommentOrder/',
                type: 'get',
                data: {'id': content},
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        console.log(data)
                        console.log('成功')
                    }

                }
            })

        }

        function editAjaxSend() {
            var content = $('#content').val()
            console.log(content)
            $.ajax({
                url: '/user/CommentOrder/',
                type: 'post',
                data: {'content': content,"csrfmiddlewaretoken": '{{ csrf_token }}'},
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    if (data.status) {
                        console.log('success')
                    } else {
                        console.log('false')
                    }
                }
            })
        }
    </script>
{% endblock %}
