
<ul id="leftside" class="layui-nav layui-nav-tree layui-nav-side">

 <li id="goodmanage" class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;"><i class="fa fa-snowflake-o" aria-hidden="true"></i>  外卖</a>
        <dl class="layui-nav-child">
            <dd id="goodsearch"><a href="/user/goodsmanage"><i class="fa fa-snowflake-o" aria-hidden="true"></i>  美食</a></dd>
            <dd id="addgood"><a href="javascript:;"><i class="fa fa-snowflake-o" aria-hidden="true"></i>  奶茶</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">商品类型管理</a>
        <dl class="layui-nav-child">
            <dd><a href="">商品类型查询</a></dd>
            <dd><a href="">添加商品类型</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">订单管理</a>
        <dl class="layui-nav-child">
            <dd><a href="/user/user_order/">订单管理</a></dd>
            <dd><a href="">订单详情</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="javascript:;"><i class="fa fa-bar-chart" aria-hidden="true"> 收益</i></a></li>
</ul>
